env_*
export_openai_key.sh
export_api_keys.sh
game_logs*
llamp.egg-info*
upload_to_pypi.sh
dist*
build*
offload*
*whisper*
*.wav
*.mp3
*.flac
*prompts*
.DS_Store
results/test*
all_results.csv
deepdive_results.csv
.ipynb_checkpoints*
eval_results*
pandas_output*
